@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --app-background: rgb(242, 244, 247);
}

.dark {
  --app-background: rgb(27, 29, 31);
}

@layer base {
  * {
    @apply font-sans font-bold;
  }
  html.dark {
    color-scheme: dark;
  }
  body {
    @apply bg-(--app-background);
  }
}
